<div class="form-inline" *ngIf="showPagination()">
    <div class="form-group">
        <div class="btn-group dropdown">
            <button type="button" id="dropdownMenu9" class="btn-link btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                {{ query.limit }} per page
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu9">
                <li role="presentation" class="dropdown-header">Show up to</li>
                <li role="presentation" class="active" *ngFor="let limit of query.limits" [ngClass]="{ 'active': limit === query.limit }">
                    <a role="menuitem" tabindex="-1" (click)="updateLimit(limit)">{{limit}} items</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="btn-group">
            <a class="btn btn-default" (click)="setPage(pager.currentPage - 1)">
                <md-icon>chevron_left</md-icon>
            </a>
            <a class="btn btn-default" (click)="setPage(1)" [ngClass]="{ 'active': pager.currentPage === 1 }">1</a>
            <a class="btn btn-default ellipsis" *ngIf="pager.pages && pager.pages.indexOf(2) === -1" href="javascript:void(0)">...</a>
            <a class="btn btn-default" *ngFor="let page of pager.pages" [ngClass]="{ 'active': pager.currentPage === page }" (click)="setPage(page)">
                {{page}}
            </a>
            <a class="btn btn-default ellipsis" *ngIf="pager.pages && pager.pages.indexOf(pager.totalPages-1) === -1" href="javascript:void(0)">...</a>
            <a class="btn btn-default" (click)="setPage(pager.totalPages)" [ngClass]="{ 'active': pager.currentPage === pager.totalPages }">
                {{pager.totalPages}}
            </a>
            <a class="btn btn-default" (click)="setPage(pager.currentPage + 1)">
                <md-icon>chevron_right</md-icon>
            </a>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="mdl-textfield mdl-js-textfield" style="width: 150px;">
                <label class="mdl-textfield__label">15 out of 40</label>
                <input type="text" class="mdl-textfield__input" pattern="-?[0-9]*(\.[0-9]+)?">
            </div>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go</button>
            </span>
        </div>
    </div>
</div>