@import '~@angular/material/core/theming/palette';
@import '~@angular/material/core/theming/theming';

@mixin cf-dropdown-tree-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);

    .cf-dropdown-tree-trigger {
        color: mat-color($foreground, enabled-hint-text);

        .cf-dropdown-tree:focus:not(.cf-dropdown-tree-disabled) & {
            color: mat-color($primary);
        }

        .cf-dropdown-tree.ng-invalid.ng-touched:not(.cf-dropdown-tree-disabled) & {
            color: mat-color($warn);
        }
    }

    .cf-dropdown-tree-underline {
        background-color: mat-color($foreground, divider);

        .cf-dropdown-tree:focus:not(.cf-dropdown-tree-disabled) & {
            background-color: mat-color($primary);
        }

        .cf-dropdown-tree.ng-invalid.ng-touched:not(.cf-dropdown-tree-disabled) & {
            background-color: mat-color($warn);
        }
    }

    .cf-dropdown-tree-arrow {
        color: mat-color($foreground, enabled-hint-text);

        .cf-dropdown-tree:focus:not(.cf-dropdown-tree-disabled) & {
            color: mat-color($primary);
        }

        .cf-dropdown-tree.ng-invalid.ng-touched:not(.cf-dropdown-tree-disabled) & {
            color: mat-color($warn);
        }
    }

    .cf-dropdown-tree-content, .cf-dropdown-tree-panel-done-animating {
        background: mat-color($background, card);
    }

    .cf-dropdown-tree-value {
        color: mat-color($foreground, text);

        .cf-dropdown-tree-disabled & {
            color: mat-color($foreground, hint-text);
        }
    }

    .cf-dropdown-tree-panel {
        cf-dropdown-tree-item li {
            &.tree--highlighted > .cf-dropdown-tree-node-line > .cf-dropdown-tree-node-text {
                background-color: mat-color($background, hover);
                color: mat-color($foreground, text);
            }

            &.tree--selected > .cf-dropdown-tree-node-line > .cf-dropdown-tree-node-text {
                color: mat-color($primary);
            }
        }
    }
}
