@import '~@angular/material/theming';
@import '../shared/_variables.scss';

/* From Angular Material - start */
// Gradient for showing the dashed line when the input is disabled.
// Unlike using a border, a gradient allows us to adjust the spacing of the dotted line
// to match the Material Design spec.
$mat-underline-disabled-background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);

@mixin mat-control-disabled-underline {
  background-image: $mat-underline-disabled-background-image;
  background-size: 4px 1px;
  background-repeat: repeat-x;
}
/* From Angular Material - end */

$cf-dropdown-tree-arrow-size: 5px !default;
$cf-dropdown-tree-arrow-margin: 4px !default;
$cf-dropdown-tree-node-font-size: 16px !default;
$cf-dropdown-tree-node-height: 48px !default;
$cf-dropdown-tree-panel-max-height: 256px !default;
$cf-dropdown-tree-panel-max-width: 400px !default;
$cf-dropdown-tree-trigger-font-size: 16px !default;
$cf-dropdown-tree-trigger-height: 30px !default;
$cf-dropdown-tree-trigger-min-width: 112px !default;

.cf-dropdown-tree {
    display: inline-block;
    font-family: $mat-font-family;
    outline: none;
}

.cf-dropdown-tree-trigger {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: $cf-dropdown-tree-trigger-font-size;
    height: $cf-dropdown-tree-trigger-height;
    min-width: $cf-dropdown-tree-trigger-min-width;
    position: relative;

    [aria-disabled='true'] & {
        cursor: default;
        user-select: none;
    }
}

.cf-dropdown-tree-underline {
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;

    [aria-disabled='true'] & {
        @include mat-control-disabled-underline();
        background-color: transparent;
        background-position: 0 bottom;
    }
}

.cf-dropdown-tree-placeholder {
    flex-grow: 1;
    padding: 0 2px;
    position: relative;
    transform-origin: left top;
    // These values are duplicated from animation code in order to
    // allow placeholders to sometimes float without animating,
    // for example when the value is set programmatically.
    // TODO(kara): Change when animations API supports skipping animation.
    &.mat-floating-placeholder {
        left: -2px;
        text-align: left;
        top: -22px;
        transform: scale(0.75);
    }

    [dir='rtl'] & {
        transform-origin: right top;

        &.mat-floating-placeholder {
            left: 2px;
            text-align: right;
        }
    }
    // TODO: Double-check accessibility of this style
    [aria-required=true] &::after {
        content: '*';
    }
}

.cf-dropdown-tree-value {
    align-items: center;
    display: flex;
    flex-grow: 1;
    max-width: calc(100% - #{($cf-dropdown-tree-arrow-size + $cf-dropdown-tree-arrow-margin) * 2});
    position: absolute;
    // Firefox and some versions of IE incorrectly keep absolutely
    // positioned children of flex containers in the flex flow when calculating
    // position. This has been fixed for Firefox 52, slated for early 2017.
    // Bug report: https://bugzilla.mozilla.org/show_bug.cgi?id=874718
    //
    // In the meantime, we must adjust the position to fit the top, left, and bottom edge of the
    // containing trigger element. In doing so, we can use align-items: center to allow the text to
    // correctly position itself in the middle of the container.
    bottom: 0;
    left: 0;
    top: 0;

    [dir='rtl'] & {
        left: auto;
        right: 0;
    }
}

.cf-dropdown-tree-value-text {
    @include mat-truncate-line();
    line-height: $cf-dropdown-tree-trigger-height;
}

.cf-dropdown-tree-arrow {
    border-left: $cf-dropdown-tree-arrow-size solid transparent;
    border-right: $cf-dropdown-tree-arrow-size solid transparent;
    border-top: $cf-dropdown-tree-arrow-size solid;
    height: 0;
    margin: 0 $cf-dropdown-tree-arrow-margin;
    width: 0;
}

.cf-dropdown-tree-panel {
    @include mat-menu-base();
    max-height: $cf-dropdown-tree-panel-max-height;
    max-width: $cf-dropdown-tree-panel-max-width;
    padding-bottom: 0;
    padding-top: 0;

    @include cdk-high-contrast {
        outline: solid 1px;
    }

    ul.tree-root {
        list-style: none;
        margin: 0;
        padding-left: 5px;

        cf-dropdown-tree-item ul {
            list-style: none;
            margin: 0;
            padding-left: 1.2em;
        }

        cf-dropdown-tree-item li {
            box-sizing: border-box;

            > .cf-dropdown-tree-node-line {
                align-items: center;
                display: flex;
                flex-direction: row;

                > .cf-dropdown-tree-node-arrow {
                    flex: 0 0 1em;

                    span {
                        cursor: pointer;
                        left: 5px;
                        position: relative;

                        b {
                            border-style: solid;
                            height: 0;
                            left: 50%;
                            position: absolute;
                            top: 50%;
                            width: 0;
                        }
                    }
                }

                > .cf-dropdown-tree-node-text {
                    cursor: pointer;
                    flex: 1 1 auto;
                    font-size: $cf-dropdown-tree-node-font-size;
                    font-family: $mat-font-family;
                    height: $cf-dropdown-tree-node-height;
                    line-height: $cf-dropdown-tree-node-height;
                    outline: none;
                    overflow: hidden;
                    padding: 0 .5em;
                    position: relative;
                    text-align: left;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &[disabled] {
                        cursor: default;
                    }

                    &[dir='rtl'] {
                        text-align: right;
                    }

                    .cf-dropdown-tree-node-ripple {
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;

                        @include cdk-high-contrast {
                            opacity: 0.5;
                        }
                    }
                }
            }

            &.tree--no-children > .cf-dropdown-tree-node-line > .cf-dropdown-tree-node-arrow span {
                display: none;
            }

            &.tree--has-children.tree--expanded > .cf-dropdown-tree-node-line > .cf-dropdown-tree-node-arrow span b {
                border-color: #808080 transparent transparent transparent;
                border-width: 5px 5px 0 5px;
                margin-left: -2px;
                margin-top: -4px;
            }

            &.tree--has-children.tree--collapsed > .cf-dropdown-tree-node-line > .cf-dropdown-tree-node-arrow span b {
                border-color: transparent transparent transparent #808080;
                border-width: 5px 0 5px 5px;
                margin-left: 1px;
                margin-top: -6px;
            }
        }
    }

    .cf-dropdown-tree-loading {
        text-align: center;
        vertical-align: middle;


        > div {
            display: inline-block;

            .mat-spinner {
                height: $cf-dropdown-tree-node-height;
                width: $cf-dropdown-tree-node-height;
            }
        }
    }
}
