<div class="cf-dropdown-tree-trigger"
     cdk-overlay-origin
     (click)="toggle()"
     #origin="cdkOverlayOrigin"
     #trigger>

    <span class="cf-dropdown-tree-placeholder mat-floating-placeholder"
          [@transformPlaceholder]="getPlaceholderAnimationState()"
          [style.visibility]="getPlaceholderVisibility()"
          [style.width.px]="selectedValueWidth">

        {{placeholder}}
    </span>

    <span class="cf-dropdown-tree-value">
        <span class="cf-dropdown-tree-value-text">{{triggerValue}}</span>
    </span>

    <span class="cf-dropdown-tree-arrow"></span>
    <span class="cf-dropdown-tree-underline"></span>
</div>

<ng-template cdk-connected-overlay
          [origin]="origin"
          [open]="isPanelOpen"
          hasBackdrop
          (backdropClick)="close()"
          backdropClass="cdk-overlay-transparent-backdrop"
          [positions]="positions"
          [height]="panelHeight"
          [minWidth]="triggerWidth"
          [offsetY]="offsetY"
          [offsetX]="offsetX"
          (attach)="setScrollTop()">

    <div class="cf-dropdown-tree-panel"
         [@transformPanel]="'showing'"
         (@transformPanel.done)="onPanelDone()"
         (keydown)="onPanelKeydown($event)"
         [style.transformOrigin]="transformOrigin"
         [class.cf-dropdown-tree-panel-done-animating]="panelDoneAnimating">

        <div class="cf-dropdown-tree-content" [@fadeInContent]="'showing'" (@fadeInContent.done)="onFadeInDone()">
            <ul #tree *ngIf="!isLoading" [id]="treeId" role="tree" class="tree tree-root" aria-expanded="true" aria-hidden="false">
                <cf-dropdown-tree-item *ngIf="defaultNode"
                                       [idPrefix]="treeItemIdPrefix"
                                       [node]="defaultNode"
                                       [highlightedNode]="highlightedNode"
                                       [selectedNode]="effectiveSelectedNode"
                                       [expandedNodes]="expandedNodes"
                                       (nodeHighlighted)="onNodeHighlighted($event)"
                                       (nodeSelected)="onNodeSelected($event)"></cf-dropdown-tree-item>
                <cf-dropdown-tree-item *ngFor="let n of nodes"
                                       [idPrefix]="treeItemIdPrefix"
                                       [node]="n"
                                       [highlightedNode]="highlightedNode"
                                       [selectedNode]="effectiveSelectedNode"
                                       [expandedNodes]="expandedNodes"
                                       (nodeCollapsed)="onNodeCollapsed($event)"
                                       (nodeExpanded)="onNodeExpanded($event)"
                                       (nodeHighlighted)="onNodeHighlighted($event)"
                                       (nodeSelected)="onNodeSelected($event)"></cf-dropdown-tree-item>
            </ul>
            <div class="cf-dropdown-tree-loading" *ngIf="isLoading">
                <div>
                    <md-spinner></md-spinner>
                </div>
            </div>
        </div>
    </div>
</ng-template>
