#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
tests
examples
.github
coverage
!*.metadata.json
!bundles/*.js
*.ngfactory.ts
*.shim.ts
dts/*
#################
## JetBrains
#################
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
