<div [class.checkbox]="!isInline"
    [class.in-cbp-table]="inCbpTable === 'true'"
    [class.checkbox-pad-r]="isInline"
    [style.display]="isInline ? 'inline' : 'block'">
    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect is-upgraded"
        [class.is-focused]="focus"
        [class.is-disabled]="disabled"
        [class.is-checked]="checked">
        <input type="checkbox"
            class="mdl-checkbox__input"
            [id]="inputId"
            [required]="required"
            [checked]="checked"
            [disabled]="disabled"
            [name]="name"
            [tabIndex]="tabindex"
            [indeterminate]="indeterminate"
            [attr.aria-label]="ariaLabel"
            [attr.aria-labelledby]="ariaLabelledby"
            (change)="onInputChange($event)"
            (click)="onInputClick($event)"
            (blur)="onInputBlur()"
            (focus)="onInputFocus()"
            (mouseup)="onMouseUp()"
             />
        <span class="mdl-checkbox__label">
            <ng-content></ng-content>
        </span>
        <div class="text-muted">
            <ng-content select="cf-help-text"></ng-content>
        </div>
        <span class="mdl-checkbox__focus-helper"></span>
        <span class="mdl-checkbox__box-outline">
            <span class="mdl-checkbox__tick-outline"></span>
        </span>
        <span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center">
            <span class="mdl-ripple"></span>
        </span>
        <span class="mdl-checkbox__focus-helper"></span>
        <span class="mdl-checkbox__box-outline">
            <span class="mdl-checkbox__tick-outline"></span>
        </span>
        <span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center">
            <span class="mdl-ripple is-animating" style="width: 103.823px; height: 103.823px; transform: translate(-50%, -50%) translate(18px, 18px);"></span>
        </span>
        <span class="mdl-checkbox__focus-helper"></span>
        <span class="mdl-checkbox__box-outline">
            <span class="mdl-checkbox__tick-outline"></span>
        </span><span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center">
            <span class="mdl-ripple"></span>
        </span>
        <span class="mdl-checkbox__focus-helper"></span>
        <span class="mdl-checkbox__box-outline">
            <span class="mdl-checkbox__tick-outline"></span>
        </span>
        <span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center">
            <span class="mdl-ripple"></span>
        </span>
    </label>
</div>
