@import '../shared/_variables.scss';

.cf-dual-list {
    align-content: flex-start;
    display: flex;
    flex-direction: row;

    .list-group {
        border: 1px solid $gray-light;
        overflow: auto;

        &:focus {
            border-color: $brand-default-highlight;
        }
    }

    .vertical-align {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 10px;

        button {
            margin-bottom: 2px;
        }
        button:last-child {
            margin-bottom: 0;
        }
    }
}
