<div class="cf-dual-list">
    <div>
        <cf-list-group [width]="width" [height]="height" [multiSelect]="true"
            (dropListGroup)="dropDeselected($event)"
            (dragoverListGroup)="allowDropSelected($event)"
            (dragleaveListGroup)="dragLeave()">
            <cf-list-group-item *ngFor="let item of availableL.list; let idx=index;"
                (click)="selectItem($event, item)"
                [active]="isPickedToBeSelected(item)"
                is-draggable="true"
                (dragstartListGroupItem)="dragSelected($event, item)"
                (dragendListGroupItem)="dragEnd()">
                    <span *ngFor="let attr of attrToShow"
                        [innerHTML]="item[attr]">
                    </span>
            </cf-list-group-item>
        </cf-list-group>
    </div>
    <div class="vertical-align">
        <button type="button" mat-mini-fab color="primary"
            (click)="moveSelectAll()">
            <mat-icon>last_page</mat-icon>
        </button>
        <button type="button" mat-mini-fab color="primary"
            (click)="moveSelectedItem()">
            <mat-icon>chevron_right</mat-icon>
        </button>
        <button type="button" mat-mini-fab color="primary"
            (click)="moveDeselectItem()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button type="button" mat-mini-fab color="primary"
            (click)="moveDeselectAll()">
            <mat-icon>first_page</mat-icon>
        </button>
    </div>
    <div>
        <cf-list-group [width]="width" [height]="height" [multiSelect]="true"
            (dropListGroup)="dropSelected($event)"
            (dragoverListGroup)="allowDropDeselected($event)"
            (dragleaveListGroup)="dragLeave()">
            <cf-list-group-item *ngFor="let item of selectedL.list; let idx=index;"
                    (click)="deselectItem($event, item);"
                    [active]="isPickedToBeDeselected(item)"
                    is-draggable="true"
                    (dragstartListGroupItem)="dragDeselected($event, item)"
                    (dragendListGroupItem)="dragEnd(available)">
                    <span *ngFor="let attr of attrToShow"
                        [innerHTML]="item[attr]">
                    </span>
            </cf-list-group-item>
        </cf-list-group>
    </div>
</div>