<div class="side-nav-wrapper">
    <div class="logo">
        <ng-content></ng-content>
    </div>
    <nav>
        <dl *ngFor="let item of appMenu;">
            <dt tabindex="0" role="tab" [attr.aria-expanded]="!isHidden(item.name)" (click)="openMenu(item.name)" [class.no-child]="item.menu == null">
                <span *ngIf="item.type == null" [innerHTML]="item.html"></span>
                <a *ngIf="item.type === 'href'" [href]="item.url" (click)="routeClicked()"><span [innerHTML]="item.html"></span></a>
                <a *ngIf="item.type === 'route'" [routerLink]="item.url" (click)="routeClicked()" routerLinkActive="selected"><span [innerHTML]="item.html"></span></a>
                <md-icon *ngIf="item.menu != null">{{getIcon(item.name)}}</md-icon>
            </dt>
            <div [class.hide-sub-menu]="isHidden(item.name)">
                <dd *ngFor="let subitem of item.menu;">
                    <a *ngIf="subitem.type === 'href'" [href]="subitem.url" (click)="routeClicked()"><span [innerHTML]="subitem.html"></span></a>
                    <a *ngIf="subitem.type === 'route'" [routerLink]="subitem.url" (click)="routeClicked()" routerLinkActive="selected"><span [innerHTML]="subitem.html"></span></a>
                </dd>
            </div>
        </dl>
    </nav>
</div>
