:host {
    >>> .mat-toolbar { /* stylelint-disable-line selector-combinator-space-after, selector-combinator-space-before */
        min-height: 48px;

        >>> .mat-toolbar-row { /* stylelint-disable-line selector-combinator-space-after, selector-combinator-space-before */
            height: 48px;

            .left-action {
                display: block;
                margin-left: -16px;
                width: 42px;
            }

            h1 {
                font-size: 20px;
                font-weight: 700;
            }

            > .toolbar-spacer {
                flex: 1 1 auto;
            }

            > .global-toolbar-buttons {
                display: block;
                margin-right: 5px;

                button {
                    vertical-align: middle;
                }
            }

            > .toolbar-buttons {
                display: block;
            }
        }
    }
}
