@import '../shared/_variables.scss';

>>> cf-header-menu-item > a {
    clear: both;
    color: $gray-dark;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;

    &:hover {
        background-color: $gray-lighter;
        color: #262626;
        text-decoration: none;
    }
}
