@import '../../shared/_variables.scss';

cf-list-group-item {
    .list-group-item {
        border-radius: 0px !important;
        margin-bottom: -1px !important;

        &:hover {
            background-color: $gray-lighter;
        }
    }
    &:first-child {
        .list-group-item {
            border-top-right-radius: 2px !important;
            border-top-left-radius: 2px !important;
        }
    }
    &:last-child {
        .list-group-item {
            margin-bottom: 0 !important;
            border-bottom-right-radius: 2px !important;
            border-bottom-left-radius: 2px !important;
        }
    }
}