<div cdk-overlay-origin
     class="cf-dropdown-tree-trigger"
     aria-hidden="true"
     (click)="toggle()"
     #origin="cdkOverlayOrigin"
     #trigger>

    <div class="cf-dropdown-tree-value" [ngSwitch]="empty">
        <span class="cf-dropdown-tree-placeholder" *ngSwitchCase="true">{{placeholder || '\u00A0'}}</span>
        <span class="cf-dropdown-tree-value-text" *ngSwitchCase="false" [ngSwitch]="!!customTrigger">
            <span *ngSwitchDefault>{{triggerValue}}</span>
            <ng-content select="cf-dropdown-tree-trigger" *ngSwitchCase="true"></ng-content>
        </span>
    </div>

    <div class="cf-dropdown-tree-arrow-wrapper">
        <div class="cf-dropdown-tree-arrow"></div>
    </div>
</div>

<ng-template cdk-connected-overlay
             cdkConnectedOverlayLockPosition
             cdkConnectedOverlayHasBackdrop
             cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
             [cdkConnectedOverlayScrollStrategy]="_scrollStrategy"
             [cdkConnectedOverlayOrigin]="origin"
             [cdkConnectedOverlayOpen]="panelOpen"
             [cdkConnectedOverlayPositions]="_positions"
             [cdkConnectedOverlayMinWidth]="_triggerRect?.width"
             [cdkConnectedOverlayOffsetY]="_offsetY"
             (backdropClick)="close()"
             (attach)="_onAttached()"
             (detach)="close()">

    <div #panel
         class="cf-dropdown-tree-panel {{_getPanelTheme()}}"
         [ngClass]="panelClass"
         [@transformPanel]="'showing'"
         (@transformPanel.done)="_onPanelDone()"
         [style.transformOrigin]="_transformOrigin"
         [class.cf-dropdown-tree-panel-done-animating]="_panelDoneAnimating"
         [style.font-size.px]="_triggerFontSize"
         (keydown)="_handleKeydown($event)">

        <div class="cf-dropdown-tree-content" [@fadeInContent]="'showing'" (@fadeInContent.done)="_onFadeInDone()">
            <ul #tree [id]="treeId" role="tree" class="tree tree-root" aria-expanded="true" aria-hidden="false">
                <cf-dropdown-tree-item *ngIf="defaultNode"
                                       [idPrefix]="treeItemIdPrefix"
                                       [node]="defaultNode"
                                       [highlightedNode]="highlightedNode"
                                       [selectedNode]="effectiveSelectedNode"
                                       [expandedNodes]="expandedNodes"
                                       (nodeHighlighted)="onNodeHighlighted($event)"
                                       (nodeSelected)="onNodeSelected($event)"></cf-dropdown-tree-item>
                <cf-dropdown-tree-item *ngFor="let n of nodes"
                                       [idPrefix]="treeItemIdPrefix"
                                       [node]="n"
                                       [highlightedNode]="highlightedNode"
                                       [selectedNode]="effectiveSelectedNode"
                                       [expandedNodes]="expandedNodes"
                                       (nodeCollapsed)="onNodeCollapsed($event)"
                                       (nodeExpanded)="onNodeExpanded($event)"
                                       (nodeHighlighted)="onNodeHighlighted($event)"
                                       (nodeSelected)="onNodeSelected($event)"></cf-dropdown-tree-item>
            </ul>
        </div>
    </div>
</ng-template>
