cf-app-header {
    background-color: #eee;
    border: 1px solid transparent;
    border-color: #e7e7e7;
    color: #00416a;
    display: block;
    padding-right: 8px;
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.3);
    transition: all 200ms ease-in-out;

    .cf-header-menu-group {
        > cf-header-nav-item {
            a.mat-menu-item {
                color: #00416a;
            }
        }
    }

    .search {
        .mat-input-wrapper {
            background-color: #fff;
            line-height: 34px;
            margin: 0;
            width: 300px;
        }

        button {
            background-color: #003e65;
            color: #fff;
            height: 39px;
            min-width: 39px;
            padding: 0;
            width: 39px;

            .mat-icon {
                line-height: 22px;
            }
        }
    }
}
