<div class="header-navigation" role="navigation" fxLayout="row" fxLayoutWrap="wrap">
    <div *ngIf="isCondensed" fxFlex="1 0 auto"></div>

    <div class="app-menu" *ngIf="!isCondensed" fxFlex="1 1 auto">
        <ng-template [ngTemplateOutlet]="appMenu"></ng-template>
    </div>

    <div class="search" *ngIf="!isCondensed && disableSearch !== true" fxFlex="0 0 auto">
        <ng-template [ngTemplateOutlet]="search"></ng-template>
    </div>

    <div class="expand-when-condensed" *ngIf="isCondensed" fxFlex="0 0 auto">
        <button type="button" md-icon-button [mdMenuTriggerFor]="expansion">
            <md-icon>menu</md-icon>
            <span class="sr-only">Toggle Application Navigation</span>
        </button>
    </div>
</div>

<ng-template #appMenu>
    <ng-content select="cf-header-menu-group[cf-app-menu]"></ng-content>
</ng-template>

<ng-template #search>
    <md-input-container floatPlaceholder="never">
        <input mdInput type="text" placeholder="Search" [(ngModel)]="searchText" />
    </md-input-container><!--
    --><button type="button" md-raised-button aria-label="Search" (click)="searchClicked.emit(searchText)">
        <md-icon>search</md-icon>
    </button>
</ng-template>

<md-menu #expansion="mdMenu" [overlapTrigger]="false">
    <ng-template [ngIf]="isCondensed">
        <ng-template [ngTemplateOutlet]="appMenu"></ng-template>
    </ng-template>
</md-menu>
