@import '../shared/_variables.scss';

.pay-period-calendar {
    width: 304px;

    .pay-period-calendar-nav {
        align-items: center;
        display: flex;

        .quick-select {
            flex: 1 0 auto;
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;

        thead {
            tr {
                &.pay-period-calendar-day-headers {
                    background-color: #e3e3e3;
                    font-weight: 600;

                    th {
                        border-bottom: 2px solid #d5d5d5;
                        padding: 8px 4px;
                        text-align: center;

                        &.day {
                            width: 28px;
                        }
                    }
                }
            }
        }

        tbody {
            cursor: pointer;

            tr {
                th.pp {
                    button {
                        min-width: 48px;
                    }
                }

                &.even {
                    background-color: #f5f5f5;
                }

                &.week1 {
                    th,
                    td {
                        border-top: 1px solid #d5d5d5;
                    }
                }

                &.selected {
                    background-color: $gray-lighter;

                    th.pp {
                        .selected-text {
                            left: -2000px;
                            position: absolute;
                        }
                    }

                    td.day {
                        color: $brand-info;
                        font-weight: 600;
                    }
                }

                &.not-selectable {
                    cursor: default;

                    td.day {
                        color: #ccc;
                    }
                }

                th,
                td {
                    text-align: center;

                    &.day {
                        padding: 4px;
                    }
                }

                td {
                    &.selected {
                        span {
                            background: $brand-info;
                            border-color: transparent;
                            border-radius: 50%;
                            color: $gray-lighter;
                            display: inline-block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
