.cbp-table{
    th {
        text-align:left;
    }
    td {
        text-align:left;
    }
    &.floatingHeader {
        display: table;
        width: 100%;
        thead {
            width: 100%;
            overflow-y: scroll;
            display: table;
            table-layout: fixed;
            width: calc(100% - 16px); /* assuming scrollbar width as 16px */
        }
        tbody {
            width: 100%;
            overflow: auto;
            height: 150px;
            display: block;
        }
        tr {
            width: 100%;
            text-align: left;
            display: table;
            table-layout: fixed;
        }
    }
}
