<div [id]="id">
    <cf-pagination [query]="query" 
            (getpagedata)="loadPage($event)"></cf-pagination>

    <table class="cbp-table mdl-js-data-table"
        [ngClass]="{ 'table-striped': hasStripedAltRow(), 'floatingHeader': hasFloatingHeader() }" >
        <thead *ngIf="hasHeader()">
            <tr >
                <th scope="col" *ngIf="showSelector()">
                    <cf-checkbox in-cbp-table="true" (change)="toggleSelectAll($event)"></cf-checkbox>
                </th>
                <th scope="col" *ngFor="let item of data.header"
                    [title]="item.title"
                    [innerHTML]="item.html"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rowItem of data.data">
                <td scope="col" *ngIf="showSelector()">
                    <cf-checkbox in-cbp-table="true" (change)="toggleSelectionItem($event,rowItem)"></cf-checkbox>
                </td>
                <td scope="row" *ngFor="let headerItem of data.header">
                    <span [innerHTML]="rowItem[headerItem.attribute]">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>