.cbp-table {
    th {
        text-align:left;
    }

    td {
        text-align:left;
    }

    &.floatingHeader {
        display: table;
        width: 100%;

        thead {
            display: table;
            overflow-y: scroll;
            table-layout: fixed;
            width: 100%;
            width: calc(100% - 16px); /* assuming scrollbar width as 16px */
        }

        tbody {
            display: block;
            height: 150px;
            overflow: auto;
            width: 100%;
        }

        tr {
            display: table;
            table-layout: fixed;
            text-align: left;
            width: 100%;
        }
    }
}
