.header-navigation {
    align-items: center;
    min-height: 50px;

    button {
        font-size: 15px;
        height: 50px;

        &:hover,
        &:focus {
            outline: thin dotted !important;
            outline-offset: -2px;
        }

        .mat-icon {
            line-height: 22px;
        }
    }

    .cf-header-menu-group {
        > cf-header-nav-item {
            font-weight: 500;
            padding-top: 2px;

            a.mat-menu-item {
                font-size: 15px;
                transition: color 200ms ease-in-out;

                &:hover,
                &:focus {
                    outline: thin dotted !important;
                    outline-offset: -2px;
                    text-decoration: none;
                }
            }
        }
    }
}

cf-header-nav-item {
    a.mat-menu-item {
        text-decoration: none;
    }
}
