@import '~@angular/material/core/theming/all-theme';
@import '../src/badge/_badge.scss';
@import '../src/badge/_badge-theme.scss';
@import '../src/dropdown-tree-field/_dropdown-tree-field-theme.scss';
@import '../src/header/_header-theme.scss';
@import './_typography.scss';
@import './_header-base.scss';
@import './_theme.scss';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cbp-theme);
@include cf-badge-theme($cbp-theme);
@include cf-dropdown-tree-theme($cbp-theme);
@include cf-header-theme($cbp-theme);

// Customize the theme
$foreground: map-get($cbp-theme, foreground);

.mat-toolbar.mat-primary {
    color: #fff;

    .mat-button.mat-accent[disabled],
    .mat-button.mat-primary[disabled],
    .mat-button.mat-warn[disabled],
    .mat-button[disabled],
    .mat-icon-button.mat-accent[disabled],
    .mat-icon-button.mat-primary[disabled],
    .mat-icon-button.mat-warn[disabled],
    .mat-icon-button[disabled] {
        color: rgba(255, 255, 255, 0.3);
    }
}

.mat-input-placeholder {
    color: mat-color($foreground, enabled-hint-text);
}

.mat-select-trigger {
    color: mat-color($foreground, enabled-hint-text);
}

.mat-select-arrow {
    color: mat-color($foreground, enabled-hint-text);
}
