<div class="header-navigation" role="navigation" fxLayout="row" fxLayoutWrap="wrap">
    <div class="brand" fxFlex="1 0 auto" fxFlex.gt-sm="0 0 auto">
        <a [href]="homeUrl" fxLayout="column">
            <div class="cbp"></div>
            <div class="dhs" *ngIf="!isCondensed"></div>
        </a>
    </div>

    <div class="cbp-menu" *ngIf="!isCondensed" fxFlex="1 1 auto">
        <template [portalHost]="cbpMenu"></template>
    </div>

    <div class="feedback" *ngIf="!isCondensed && disableFeedback !== true" fxFlex="0 0 auto">
        <button type="button" md-button (click)="feedbackClicked.emit()">
            <md-icon fontSet="fa" fontIcon="fa-comment"></md-icon>
            <span>Feedback</span>
        </button>
    </div>

    <div class="user-menu" *ngIf="!isCondensed" fxFlex="0 1 auto">
        <template [portalHost]="userMenu"></template>
    </div>

    <div class="expand-when-condensed" *ngIf="isCondensed" fxFlex="0 0 auto">
        <button type="button" md-icon-button [mdMenuTriggerFor]="expansion">
            <md-icon fontSet="fa" fontIcon="fa-bars"></md-icon>
            <span class="sr-only">Toggle Global Navigation</span>
        </button>
    </div>
</div>

<template portal #cbpMenu="cdkPortal">
    <ng-content select="cf-menu-group[cf-cbp-menu]"></ng-content>
</template>

<template portal #userMenu="cdkPortal">
    <ng-content select="cf-menu-group[cf-user-menu]"></ng-content>
</template>

<md-menu #expansion="mdMenu" [overlapTrigger]="false">
    <template [ngIf]="isCondensed">
        <template [portalHost]="cbpMenu">
        </template>
        <button type="button" md-menu-item *ngIf="disableFeedback !== true" (click)="feedbackClicked.emit()">
            <md-icon fontSet="fa" fontIcon="fa-comment"></md-icon>
            <span>Feedback</span>
        </button>
        <template [portalHost]="userMenu">
        </template>
    </template>
</md-menu>
