cf-cbp-header {
    border-style: solid;
    border-width: 0 0 1px;
    display: block;
    padding-right: 8px;
    transition: all .1s linear;

    .brand {
        a {
            font-size: 19px;
            height: 50px;
            line-height: 21px;
            padding: 5px 70px 5px 17px;
            transition: color .2s ease-in-out;

            &:hover,
            &:focus {
                outline: thin dotted !important;
                outline-offset: -2px;
                text-decoration: none;
            }

            .cbp:before {
                font-size: 18px;
                line-height: 16px;
            }
            .dhs {
                line-height: 14px;
                margin: 0;

                &:before {
                    content: "U.S. Department of Homeland Security";
                    font-size: 12px;
                    font-style: italic;
                }
            }
        }
    }
}

@media(min-width: 960px) {
    cf-cbp-header {
        .brand {
            .cbp:before {
                content: "U.S. Customs & Border Protection";
            }
        }
    }
}

@media(max-width: 959px) {
    cf-cbp-header {
        .brand {
            a {
                padding: 16px 70px 16px 17px;
            }

            .cbp:before {
                content: "U.S. CBP";
            }
        }
    }
}
