<div class="header-navigation" role="navigation" fxLayout="row" fxLayoutWrap="wrap">
    <div class="brand" fxFlex="1 0 auto" fxFlex.gt-sm="0 0 auto">
        <a *ngIf="homeUrlType === 'href'" [href]="homeUrl" fxLayout="column">
            <div class="cbp"></div>
            <div class="dhs" *ngIf="!isCondensed"></div>
        </a>
        <a *ngIf="homeUrlType === 'route'" [routerLink]="homeUrl" fxLayout="column">
            <div class="cbp"></div>
            <div class="dhs" *ngIf="!isCondensed"></div>
        </a>
    </div>

    <div class="cbp-menu" *ngIf="!isCondensed" fxFlex="1 1 auto">
        <ng-template [ngTemplateOutlet]="cbpMenu"></ng-template>
    </div>

    <div class="feedback" *ngIf="!isCondensed && disableFeedback !== true" fxFlex="0 0 auto">
        <button type="button" md-button (click)="feedbackClicked.emit()">
            <md-icon>feedback</md-icon>
            <span>Feedback</span>
        </button>
    </div>

    <div class="user-menu" *ngIf="!isCondensed" fxFlex="0 1 auto">
        <ng-template [ngTemplateOutlet]="userMenu"></ng-template>
    </div>

    <div class="expand-when-condensed" *ngIf="isCondensed" fxFlex="0 0 auto">
        <button type="button" md-icon-button [mdMenuTriggerFor]="expansion">
            <md-icon>menu</md-icon>
            <span class="sr-only">Toggle Global Navigation</span>
        </button>
    </div>
</div>

<ng-template #cbpMenu>
    <ng-content select="cf-header-menu-group[cf-cbp-menu]"></ng-content>
</ng-template>

<ng-template #userMenu>
    <ng-content select="cf-header-menu-group[cf-user-menu]"></ng-content>
</ng-template>

<md-menu #expansion="mdMenu" [overlapTrigger]="false">
    <ng-template [ngIf]="isCondensed">
        <ng-template [ngTemplateOutlet]="cbpMenu">
        </ng-template>
        <button type="button" md-menu-item *ngIf="disableFeedback !== true" (click)="feedbackClicked.emit()">
            <md-icon>feedback</md-icon>
            <span>Feedback</span>
        </button>
        <ng-template [ngTemplateOutlet]="userMenu">
        </ng-template>
    </ng-template>
</md-menu>
