<button type="button" md-button *ngIf="!isCondensed" [mdMenuTriggerFor]="dropdown">
    <template [portalHost]="content"></template>
</button>
<button type="button" md-menu-item *ngIf="isCondensed" [mdMenuTriggerFor]="dropdown">
    <template [portalHost]="content"></template>
</button>

<md-menu #dropdown="mdMenu" [overlapTrigger]="false">
    <ng-content select="cf-header-nav-item"></ng-content>
</md-menu>

<template portal #content="cdkPortal">
    <span>
        <ng-content></ng-content>
    </span>
    <md-icon fontSet="fa" fontIcon="fa-caret-down"></md-icon>
</template>
